# Dependencias
node_modules/
.pnpm-store/

# Archivos de compilación
dist/
dist-ssr/
*.local

# Logs y Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/

# Sistema Operativo
.DS_Store
Thumbs.db